@using AssetControl.Entity;
@{
    ViewBag.Title = "";
}


<div class="card basic-data-table">
    <input type="hidden" name="id_asset" value="@Model."/>
    <div class="card-header d-flex align-items-baseline justify-content-between">
        <h6 class="card-title mb-0">Tranfer Computer</h6>
    </div>

    <div class="card-body">
        <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>


        </table>
    </div>
</div>